*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --Blue_500: hsl(220, 98%, 61%);
  --Check_Background: linear-gradient (hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --Gray_50: hsl(0, 0%, 98%);
  --Purple_300: hsl(234, 39%, 85%);
  --Gray_300: hsl(233, 11%, 84%);
  --Gray_600: hsl(236, 9%, 61%);
  --Navy_850: hsl(235, 19%, 35%);

  --Navy_950: hsl(235, 21%, 11%);
  --Navy_900: hsl(235, 24%, 19%);
  --Purple_300: hsl(234, 39%, 85%);
  --Purple_100_hover: hsl(236, 33%, 92%);
  --Purple_600: hsl(235, 16%, 43%);
  --Purple_700: hsl(233, 14%, 35%);
  --Purple_800: hsl(237, 14%, 26%);
  --Gray_600: hsl(236, 9%, 61%);
}

body {
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
  background: var(--Navy_950);
  background-image: url("/images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100% 300px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

main.main {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding-top: 7rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

section .main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .main-title h1{
    margin: 0;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    line-height: 1;
}

.input-container{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background: var(--Navy_900);
    padding: 1.4rem 2rem;
    border-radius: 5px;
}

 .circle-decoration{
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    border: 1px solid var(--Purple_700);
    cursor: pointer;
}

#todo-input{
    background: transparent;
    border: none;
    outline: none;
    color: var(--Gray_50);
    font-family: inherit;
    font-size: 1.8rem;
    width: 100%;
}


